select::-ms-expand {
        display: none;
} 

.control-group {
    float: left;
    margin-right: 13px;
    margin-bottom: 18px;
	text-align:center;
}

.date_widget {
    background: #fff;
    padding-top: 4px;
    text-align: center;
    width: 70px;
	font-family: 'Playfair Display', serif;
    position: relative;
}

.date_widget .top {
    font-size: 9px;
    text-transform: uppercase;
	border-bottom:1px solid #eaeaea;
	padding-bottom:4px;
	display:block;
	width:50px;
	margin:0 auto;
	height:13px;
}

.date_widget .bottom {
    vertical-align: bottom;
    font-size: 22px;
    text-transform: uppercase;
	display:none;
}

.date_widget .middle {
    font-size: 45px;
	color:#7a7a7a;
	border-bottom:1px solid #eaeaea;
	padding-bottom:4px;
	display:block;
	width:50px;
	margin:0 auto;
	line-height:35px;
	padding-bottom:5px;
}

.arrow_left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #7f8184; 
}

.arrow_right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left:10px solid #7f8184; 
}

.arrow_down {
	background:url(../images/subbookdownarrow.png) top center no-repeat;
	display:block;
	height:12px;
	width:8px;
	margin:0 auto;
	margin-top:6px;
}

.arrow_up {
	background:url(../images/subbookuparrow.png) top center no-repeat;
	display:block;
	height:10px;
	width:8px;
	margin:0 auto;
	margin-top:4px;
}

.fake_widget {
    cursor: pointer;
}

.fake_widget .arrow_left {
    display: block;
    position: absolute;
    left: 12px;
    top: 43%;
}

.fake_widget .arrow_right {
    display: block;
    position: absolute;
    right: 12px;
    top: 43%;

}

.hide {
    display: none;
}

.num_guests {
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
}


.num_guests_widget,
.num_guests_widget li {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0;
}

.num_guests_widget li {
    /* padding-top: 30px; */
    width: 130px;
    text-align: center;
    height: 129px;
    background: #fff;
    float: left;
    font-size: 60px;
    font-weight: bold;
    vertical-align: center;
    line-height: 124px;
}

.num_guests_widget li:first-child {
    margin-right: 10px;
}

.num_guests_widget li:hover,
.date_widget:hover {
    background-color: #efefef;
}
.num_guests_widget li.selected {
    background: #808285;
    color: #fff;
}
.num_guests_widget li.selected:hover {
    background: #9a9c9f;
}

.last {
    margin-right: 0;
}

.transition {
    transition: .2s linear;
    -moz-transition: .2s linear;
    -webkit-transition: .2s linear;
}

.num_guests_widget .controls {
    height: 129px;
}

.datepicker#arrival,
.datepicker#departure,
#restaurant_availability {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden; 
    position: absolute; 
    visibility: hidden;    
}

.arrival_label, .departure_label {
	color:#757d80;
	font-family: 'Playfair Display', serif;
	font-size:12px;
	text-transform:uppercase;
}

.subbookcheck {
	color:white;
	font-family: 'Playfair Display', serif;
	font-size:15px;
	text-transform:uppercase;
	text-align:center;
	border:none;
	display:block;
	width:170px;
	margin:0 auto;
	transition:.2s linear;
 	-moz-transition:.2s linear;
  	-webkit-transition:.2s linear;
}

.subbooking select {
	display:block;
	border:none;
	font-size:45px;
	line-height:60px;
	font-weight:bold;
	color:#7a7a7a;
	font-family: 'Playfair Display', serif;
	text-align:center;
	cursor:pointer;
	padding-left:25px;
	padding-bottom:5px;
	background:#FFF;
   	-webkit-appearance:none;
   	-moz-appearance:none;
   	appearance:none;
	text-transform:uppercase;
	border-radius:0;
	width:70px;
}

.guests .arrow_down {
	background:#FFF url(../images/subbookdownarrow.png) center center no-repeat;
	display:block;
	height:18px;
	margin:0 auto;
	margin-top:0px;
	text-indent:-10000px;
}

.guests .arrow_up {
	background:#FFF url(../images/subbookuparrow.png) center 5px no-repeat;
	display:block;
	height:10px;
	margin:0 auto;
	margin-top:0px;
	text-indent:-10000px;
}

.guests .inc {
	position:absolute;
	top:3px;
    font-size: 10px;
    text-transform: uppercase;
	border-bottom:1px solid #eaeaea;
	padding-bottom:4px;
	display:block;
	width:50px;
	margin:0 auto;
	height:13px;
	left:10px;
}

.guests .dec {
	position:absolute;
	bottom:0px;
	left:10px;
	border-top:1px solid #eaeaea;
	width:50px;
}

.subbooking input.guests {
	width:70px;
	display:block;
	border:none;
	color:#7a7a7a;
	font-family: 'Playfair Display', serif;
	padding:0;
	font-size:45px;
	text-align:center;
	padding-bottom:16px;
	padding-top:5px;
}

.guestswidget {
	position:relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}

.guestswidget input {
	cursor:pointer;
}

.subbooking fieldset {
	margin:0 auto;
	width:236px;
}